        <header class="sfondo sfondo3 page-section bg-primary text-white mb-0" id="about" >
            <div class="container">

            <!-- Logo -->
                <div class="text-center mt-4">
                        <h2 class="page-section-heading text-center text-uppercase text-white">BIENNALE EDIZIONE 2021</h2>
                </div>
                <!--  Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-university"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <img class="img-fluid" src="../static/assets/img/loghi/logo-full.svg" alt="..." />
                    </div>
                    <div class="col-lg-4 mr-auto"><p class="lead">125 anni di storia. Fin dalla sua fondazione, La Biennale di Venezia si è posta all'avanguardia nella promozione delle nuove tendenze artistiche e organizza manifestazioni nelle arti contemporanee secondo un modello pluridisciplinare unico.</p></div>
                </div>

            </div>
        </header>