        <section class="sfondo sfondo2 page-section bg-primary text-white mb-0" id="about" >
            <div class="container">

                <h2 class="page-section-heading text-center text-uppercase text-white">LA BIENNALE DI VENEZIA</h2>
                <!--  Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-ticket-alt"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">La Biennale di Venezia nasce nel 1895 ed è considerata tra le istituzioni culturali più note e prestigiose al mondo. All’avanguardia nella ricerca e nella diffusione delle nuove tendenze artistiche contemporanee, La Biennale di Venezia organizza in tutti i suoi Settori – Arte (1895), Architettura (1980), Cinema (1932), Danza (1999), Teatro (1934), Musica (1930) – attività espositive, performative, di ricerca e formazione.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">La storia della Biennale di Venezia è documentata presso l’Archivio Storico nelle sedi a Marghera e al Padiglione Centrale ai Giardini (Biblioteca). Dal 1998 l’Esposizione d’Arte e la Mostra di Architettura hanno assunto una struttura organizzata secondo nuove linee guida. Negli anni recenti La Biennale ha promosso nuove attività Educational, il College, conferenze e convegni nella sua sede di Ca’ Giustinian.</p></div>
                </div>

            </div>
        </section>