{%  extends 'base.html' %}

{% block pagina %}

    <div class='mtop5'></div>

   <!-- SPONSOR  Section-->
    {% include '_partials/sponsor.html' %}

    <!-- INTRO  Section-->
    {% include '_partials/intro.html' %}


         {% for row in rows %}
    <!-- NOTIZIA Section-->
    <section id="notizia">
          <div class="container">
            <div class="row">
                <!-- Post content-->
                <div class="col-lg-8">
                    <!-- Title-->
                    <h1 class="mt-4">{{ row["titolo"]}}</h1>
                    <!-- image-->
                    <img class="img-fluid" src="../../static/assets/img/foto/{{row['immagine']}}" alt="{{ row["titolo"]}}" />
                    <hr />
                    <!-- Post content-->
                    <article>
                    <p class="lead">{{ row["descrizione"]}}</p>
                    </article>




                </div>




                <!-- Sidebar widgets column-->
                <div class="col-md-4">


                <!-- Luogo -->
                    <div class="card my-4 text-align-center">
                        <h5 class="card-header">
                            <i class="fas fa-landmark"></i> LUOGO DELL'EVENTO</h5>
                            <h6>
                        {% if row["luogo"] == 'giardini' %}
                            JEDI TEMPLE
                            <!-- image-->
                            <img class="img-fluid" src="../../static/assets/img/luoghi/databank_jeditemple_01_169_1b756b23.webp" alt="JEDI TEMPLE" />
                            <hr />
                        {% elif row["luogo"] == 'arsenale' %}
                            Padmé's Apartment
                            <!-- image-->
                            <img class="img-fluid" src="../../static/assets/img/luoghi/padmes-apartment_8dcb4c69.webp" alt="Arsenale" />
                        {% elif row["luogo"] == 'cagiustinian' %}
                            Yoda's Hut
                            <!-- image-->
                            <img class="img-fluid" src="../../static/assets/img/luoghi/yodas-hut_a3d1133d.webp" alt="Ca giustinian" />
                        {% elif row["luogo"] == 'palazzo-cinema' %}
                             Tatooine
                            <!-- image-->
                            <img class="img-fluid" src="../../static/assets/img/luoghi/tatooine-main_127c43c7.webp" alt="Palazzo del cinema" />
                        {% elif row["luogo"] == 'palazzo-casino' %}
                            Naboo
                            <!-- image-->
                            <img class="img-fluid" src="../../static/assets/img/luoghi/databank_naboo_01_169_6cd7e1e0.webp" alt="Palazzo del casinò" />
                        {% elif row["luogo"] == 'palabiennale' %}
                            Mos Espa Grand Arena
                            <!-- image-->
                            <img class="img-fluid" src="../../static/assets/img/luoghi/databank_monespagrandarena_01_169_ed7e9c8e.jpeg" alt="Palabiennale" />
                        {% elif row["luogo"] == 'sala-giardino' %}
                            Mos Eisley Cantina
                            <!-- image-->
                            <img class="img-fluid" src="../../static/assets/img/luoghi/mos-eisley-cantina-main_4786e80c.webp" alt="Sala giardino" />
                        {% else %}
                            Non definito
                        {% endif  %}
                            </h6>
                    </div>
{% endfor %}

                    <!-- Eventi widget-->
                    <div class="card my-4">
                        <h5 class="card-header"><i class="far fa-solid fa-comments"></i>  AREE TEMATICHE EVENTI</h5>
                        <!-- image-->
                        <img class="img-fluid" src="../../static/assets/img/foto/open-uri20150608-27674-1cb3yi_0672ce34.jpeg" alt="Eventi" />

                        <div class="card-body">
                            <div class="row">
                     <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="{{ url_for('eventi_area', area='cinema') }}">Cinema</a></li>
                                    <li><a href="{{ url_for('eventi_area', area='theater') }}">Theater</a></li>
                                    <li><a href="{{ url_for('eventi_area', area='arte') }}">Arte</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="{{ url_for('eventi_area', area='architettura') }}">Architettura</a></li>
                                    <li><a href="{{ url_for('eventi_area', area='danza') }}">Danza</a></li>
                                    <li><a href="{{ url_for('eventi_area', area='musica') }}">Musica</a></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Eventi widget-->

                    <!-- Notizie widget-->
                    <div class="card my-4">
                        <h5 class="card-header"><i class="far fa-light fa-newspaper"></i>  AREE TEMATICHE NOTIZIE</h5>
                        <!-- image-->
                        <img class="img-fluid" src="../../static/assets/img/foto/open-uri20150608-27674-u9edei_827be8e5.jpeg" alt="Eventi" />

                        <div class="card-body">
                            <div class="row">
                             <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="{{ url_for('notizie_area', area='cinema') }}">Cinema</a></li>
                                    <li><a href="{{ url_for('notizie_area', area='theater') }}">Theater</a></li>
                                    <li><a href="{{ url_for('notizie_area', area='art') }}">Art</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="{{ url_for('notizie_area', area='architettura') }}">Architettura</a></li>
                                    <li><a href="{{ url_for('notizie_area', area='dance') }}">Dance</a></li>
                                    <li><a href="{{ url_for('notizie_area', area='music') }}">Music</a></li>
                                </ul>
                            </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Notizie widget-->



                </div>
            </div>
        </div>

    </section>




    <!-- About Section-->
    {% include '_partials/about.html' %}




{% endblock %}