{%  extends 'base.html' %}

{% block pagina %}
    <div class='mtop5'></div>


{% if not session['username'] %}



    <div class="row mtop5 justify-content-center">

        NON SEI AUTORIZZATO



    </div>

{% else %}

    <div class="row mtop5  justify-content-center">

         <div class="col-6 lb-surtitle left-aligned">
          <h2>Aggiungi nuovo articolo: {{ tipologia }}</h2>
        </div>
    </div>




<div class=" row justify-content-center">
  <div class="col-md-4 col-md-offset-4">
  <form method="POST" action="/nuovo/{{ tipologia }}" enctype="multipart/form-data">

    <div class="form-group">
      <label for="titolo">Titolo</label>
      <input
        type="text"
        class="form-control"
        id="titolo"
        name="titolo"
        placeholder="titolo qui"
        value="titolo"
      />
    </div>

    <div class="form-group">
       <label for="descrizione">Descrizione</label>
      <textarea
        rows="10"
        cols="40"
        class="form-control"
        id="descrizione"
        name="descrizione"
        placeholder="Descrizione qui"></textarea>
    </div>




     <div class="form-group">
      <label for="immagine">Immagine</label>
        Selezione una imagine da caricare:
        <input
          class="form-control"
          type="file"
          name="immagine"
          id="immagine"
        />


      <label for="area">Area</label>
      <select name="area" class="form-select form-control"  size="1" aria-label="size1 select " >
              <option value="cinema">Cinema</option>
              <option value="theater">Theater</option>
              <option value="art">Art</option>
              <option value="games">Games</option>
              <option value="dance">Dance</option>
              <option value="music">Music</option>
      </select>


    {% if tipologia == 'evento' %}
      <label for="luogo">Luogo</label>
      <select name="luogo" class="form-select form-control"  size="1" aria-label="size1 select " >
              <option value="giardini">JEDI TEMPLE</option>
              <option value="arsenale">Padmé's Apartment</option>
              <option value="cagiustinian">Yoda's Hut</option>
              <option value="palazzo-cinema">Tatooine</option>
              <option value="palazzo-casino">Naboo</option>
              <option value="palabiennale">Mos Espa Grand Arena</option>
              <option value="sala-giardino">Mos Eisley Cantina</option>
      </select>
     {% endif  %}




    </div>



    <button type="submit" class="btn btn-info text-uppercase">PUBBLICA {{ tipologia }}</button>
  </form>
 </div>
</div>
{% endif %}




 <!-- MESSAGGGI ERRORE -->
 <div class=" row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
    {% for message in get_flashed_messages() %}
      <div class="alert-error">{{ message }}</div>
    {% endfor %}
    </div>
 </div>



 <div class='mtop5'></div>
{% include '_partials/header1.html' %}

{% endblock %}