        <section class="sfondo sfondo1 page-section bg-primary text-white mb-0" id="about" >
            <div class="container">

                <h2 class="page-section-heading text-center text-uppercase text-white">STAR WARS: THE EMPIRE STRIKES BACK</h2>
                <!--  Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-ticket-alt"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Star Wars: The Empire Strikes Back is filled with iconic lines uttered by our favorite heroes and villains. From Yoda’s wisdom, to Han Solo’s effortless swagger, to Darth Vader’s shocking revelation, chances are high that you already know quite a few quotes from the 1980 sequel to Star Wars: A New Hope. In honor of a momentous 40 years,
                        here are 40 quotes from The Empire Strikes Back that are as timeless as the movie itself. </p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">
                       There’s a number of obvious things that stick out in my mind that, I’m certain, are shared
                        by many people: Maul’s double lightsaber reveal, podracing, and our good friend Jar Jar Binks.
                        But when I think about The Phantom Menace — a movie I adore — what’s most memorable is the
                        anticipation. I was convinced, throughout my entire life, that we’d never see another Star Wars
                        movie. It just didn’t seem like it could happen. But then it did, and I hardly knew what to do
                        with myself in the space between the prequels being announced and opening night.</p></div>
                </div>
                <!-- Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="">
                        <i class="fas fa-credit-card mr-2"></i>
                        Buy a Ticket
                    </a>
                </div>
            </div>
        </section>
