        <header class="sfondo sfondo5 page-section bg-primary text-white mb-0" id="about" >
            <div class="container">


                <div class="text-center mt-4">
                        <h2 class="page-section-heading text-center text-uppercase testogiallo">THE JEDI ORDER</h2>
                </div>
                <!--  Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
{#                    <div class="divider-custom-icon"><i class="fas fa-ticket-alt"></i></div>#}
{#                    <div class="divider-custom-line"></div>#}
                </div>

                <div class="row">
{#                    <div class="col-lg-3 ml-auto">#}
{#                         <img class="img-fluid" src="../static/assets/img/loghi/ordine_Jedi.png" alt="SW" />#}
{#                    </div>#}
                    <div class="col-lg-4 mr-auto"><p class="lead ">
                        Lucasfilm has confirmed new dates for the launch of Star Wars:
                        The High Republic, due to general marketplace delays.
                        Both Charles Soule’s adult novel Star Wars: The High Republic: Light of the Jedi and Justina
                        Ireland’s middle grade novel Star Wars: The High Republic: A Test of Courage will both now
                        release on January 5, 2021. Claudia Gray’s young adult novel Star Wars: The High Republic:
                        Into the Dark has moved to a new release date of February 2, 2021.

                        Lucasfilm has confirmed new dates for the launch of Star Wars:
                        The High Republic, due to general marketplace delays.
                        Both Charles Soule’s adult novel Star Wars: The High Republic: Light of the Jedi and Justina
                        Ireland’s middle grade novel Star Wars: The High Republic: A Test of Courage will both now
                        release on January 5, 2021. Claudia Gray’s young adult novel Star Wars: The High Republic:
                        Into the Dark has moved to a new release date of February 2, 2021.
                    </p></div>
                </div>

            </div>
        </header>