        <section class="sfondo sfondo2 page-section bg-primary text-white mb-0" id="about" >
            <div class="container">

                <h2 class="page-section-heading text-center text-uppercase">
                    THE RISE OF <span class="testogiallo ">SKYWALKER</span>
                </h2>
                <!--  Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line "></div>
{#                    <div class="divider-custom-icon"><i class="fas fa-landmark"></i></div>#}
{#                    <div class="divider-custom-line"></div>#}
                </div>

                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead ">A powerful enemy returns and Rey must face her destiny.
                        A Resistance starfighter ace, Poe Dameron is one of Leia Organa’s most-trusted operatives.
                        He can fly anything – which is fortunate given how often his headstrong nature leads him
                        into trouble. Poe leads the attack that destroys Starkiller Base, but soon finds himself
                        on the run from the First Order. Sidelined without his beloved X-wing,
                        he learns tough lessons about leadership, heroism and sacrifice.
                        Those lessons will prove essential in rebuilding the Resistance before a showdown w
                        ith the forces of evil at Exegol.
                    </p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead testogiallo ">Seemingly abandoned by her parents on Jakku, Rey grew
                        up a scavenger amid the wreckage of war. Her life changed when she agreed to help a droid on an
                        urgent mission for the Resistance. Rey discovered she was powerful in the Force, and sought out the
                        vanished Jedi Master Luke Skywalker to train her. That ended in disappointment, as did her attempt
                        to bring Kylo Ren back to the light. But the resilient Rey continued her training and learned the
                        truth about her parentage and her mysterious connection with Kylo. She then faced her greatest test:
                        a confrontation with fear and evil that would determine the galaxy’s fate.</p></div>
                </div>

            </div>
        </section>