{%  extends 'base.html' %}

{% block pagina %}

        <!-- HEADER Section-->
        {% include '_partials/header1.html' %}

        <!-- INTRO  Section-->
        {% include '_partials/intro.html' %}

       <!-- SPONSOR  Section-->
        {% include '_partials/sponsor.html' %}




    <!-- Categorie -->
        <div class="container">
                <div class="card my-4" >
                        <h5 class="card-header"><i class="far fa-light fa-newspaper"></i>  AREE TEMATICHE NOTIZIE</h5>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="{{ url_for('notizie_area', area='cinema') }}">Cinema</a></li>
                                    <li><a href="{{ url_for('notizie_area', area='teatro') }}">Teatro</a></li>
                                    <li><a href="{{ url_for('notizie_area', area='arte') }}">Arte</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="{{ url_for('notizie_area', area='architettura') }}">Architettura</a></li>
                                    <li><a href="{{ url_for('notizie_area', area='danza') }}">Danza</a></li>
                                    <li><a href="{{ url_for('notizie_area', area='musica') }}">Musica</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
             </div>


    <!-- NEWS  Section-->
     <section class="page-section portfolio" id="news">
            <div class="container">

                <div class="lb-surtitle left-aligned">
                  <h2>News</h2>
                </div>


                <!-- News Grid Items-->
                <div class="row justify-content-center">


         {% for row in rows %}

                    <!-- Notizia -->
                    <div class="col-md-6 col-lg-4">

                        <div class="portfolio-item mx-auto" data-toggle="modal" >

                             <a href="{{ url_for('notizia', id=row["id"]) }}">

                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            </a>
                            <img class="img-fluid" src="../../static/assets/img/foto/{{row['immagine']}}" alt="{{ row["titolo"]}}" />

                            <div class="lb-category">{{ row["area"]}}</div>
                            <div class="lb-item-title">{{ row["titolo"]}}</div>
                        </div>

                    </div>

         {% endfor %}


                </div>
            </div>

         <!-- PAGINAZIONE -->
         <div class="row justify-content-center" id="paginazione">
              {{ pagination.info }}
              {{ pagination.links }}
         </div>

        </section>

{% endblock %}


